# Name: Suraj Phirke
##### ROLLNO:72
##### Practical no.6

# Importing

In [2]:
import sqlite3

### connecting to Database

In [4]:
connection = sqlite3.connect ('./new.db')
cursor = connection.cursor ()

### Create Table

In [6]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

# CRUD Operation

### Create(insertion)

In [8]:

def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

### Read (Retrival)

In [10]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)

### Update

In [20]:
def update_student_age(student_id, new_age):
    cursor.execute(
        "UPDATE students SET age = ? WHERE id = ?", 
        (new_age, student_id)
    )
    connection.commit()
    print("Student age updated successfully!")

update_student_age(2, 21)  # Updating Alice's age to 21
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 21)

### Delete

In [24]:
def delete_student(student_id):
    cursor.execute(
        "DELETE FROM students WHERE id = ?", 
        (student_id,)
    )
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)  # Deleting Bob's record
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 20)

### Closing the database connection

In [46]:
connection.close ()